.add-to-cart{
  background-color: green;
  color: white;
  padding: 4px 5px;
}
.remove-to-cart{
  background-color: brown;
  color: white;
  padding: 4px 5px;
}
.delete-btn{
  background-color: brown;
  color: white;
  padding: 4px 5px;
}